/* Variables */
/* Global */
body {
  font-family: "Epilogue", sans-serif;
  background: #fff;
  font-size: 16px;
  color: #808e9b;
  text-align: center;
}

a {
  text-decoration: none;
}

.section-title {
  margin: 60px auto;
}

.section-title h2 {
  font-size: 52px;
  color: #1e272e;
  font-weight: 900;
  font-family: "Inconsolata", monospace;
}

.section-title p {
  font-style: italic;
  font-size: 18px;
}

/* Header */
header {
  background: none;
  background-image: url("/images/background-splash.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-weight: 900;
}

.logo {
  color: #fbc531;
  font-size: 26px;
  font-family: "Great Vibes", cursive;
  text-align: left;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  display: inline-block;
  margin: 0 15px;
}

.navbar ul a {
  color: #f5f6fa;
}

/* Splash */
.splash {
  height: 90vh;
  background-image: url("/images/background-splash.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.splash .splash-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 50%;
  transform: translate(-50%, -50%);
  color: #f5f6fa;
  font-family: "Inconsolata", monospace;
}

.splash .splash-inner h1 {
  font-size: 60px;
  font-weight: 900;
  word-spacing: 10px;
  margin: 30px auto;
}

.splash .splash-inner h2 {
  font-size: 44px;
  font-style: italic;
  margin: 30px auto;
}

.splash .splash-inner button {
  background: #fbc531;
  color: #f5f6fa;
  font-weight: 900;
  padding: 15px 20px;
  margin: 10px auto;
  width: 220px;
}

/* Services */
.services .box-services {
  padding: 30px 20px 50px 20px;
}

.services .box-services i {
  color: #fbc531;
  font-size: 40px;
  height: 90px;
  width: 90px;
  line-height: 80px;
  border-style: solid;
  border-width: 5px;
  border-radius: 90px;
  margin-bottom: 20px;
}

.services .box-services h4 {
  font-family: "Inconsolata", monospace;
  color: #1e272e;
  font-weight: 700;
  margin-bottom: 15px;
}

/* Portfolio */
.portfolio {
  background: #d1ccc0;
}

.portfolio .box-portfolio img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.portfolio .box-portfolio h4 {
  font-family: "Inconsolata", monospace;
  color: #1e272e;
  font-weight: 700;
  background: #fff;
  padding: 20px 20px 0px 20px;
  margin: 0;
}

.portfolio .box-portfolio p {
  font-style: italic;
  background: #fff;
  margin: 0 0 40px 0;
  padding-bottom: 20px;
}

/* Footer */
footer .copyright {
  line-height: 40px;
}

footer .social-media a {
  font-size: 0;
}

footer .social-media a i {
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 40px;
  border-radius: 40px;
  background: #1e272e;
  color: #f5f6fa;
  margin: 3px 3px;
  transition: all 1s;
}

.fa-twitter:hover {
  background: #1DA1F2;
}

.fa-facebook-f:hover {
  background: #4267B2;
}

.fa-pinterest-p:hover {
  background: #BD081C;
}

.fa-google-plus-g:hover {
  background: #d34836;
}

/* Media */
@media (max-width: 767px) {
  .splash {
    height: 100vh;
  }
  .splash-inner h1 {
    font-size: 45px !important;
  }
  .splash-inner h2 {
    font-size: 30px !important;
    margin: 10px auto !important;
  }
  .splash-inner button {
    padding: 5px 10px !important;
    width: 150px !important;
  }
  .logo {
    text-align: center;
  }
  img {
    max-height: 200px;
  }
  .portfolio {
    padding: 10px 0 !important;
  }
  .box-services {
    padding: 10px !important;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .logo {
    text-align: center;
  }
  .splash-inner h1 {
    font-size: 45px !important;
  }
  .splash-inner h2 {
    font-size: 30px !important;
    margin: 10px auto !important;
  }
  .splash-inner button {
    padding: 5px 10px !important;
    width: 150px !important;
  }
}
/*# sourceMappingURL=style.css.map */