/* Variables */

$color-background: #fff;
$color-background-second: #d1ccc0;
$color-text-light:#f5f6fa;
$color-text-dark: #1e272e;
$color-text-gray: #808e9b;
$color-main: #fbc531;

$font-text: 'Epilogue', sans-serif;
$font-logo: 'Great Vibes', cursive;
$font-header: 'Inconsolata', monospace;

/* Global */

body {
    font-family: $font-text;
    background: $color-background;
    font-size: 16px;
    color: $color-text-gray;
    text-align: center;
}

a {
    text-decoration: none;
}

.section-title {
    margin: 60px auto;

    h2 {
        font-size: 52px;
        color: $color-text-dark;
        font-weight: 900;
        font-family: $font-header;
    }

    p {
        font-style: italic;
        font-size: 18px;
    }
}

/* Header */

header {
    background: none;
    background-image: url('/images/background-splash.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    font-weight: 900;
}

.logo {
    color: $color-main;
    font-size: 26px;
    font-family: $font-logo;
    text-align: left;
}

.navbar {

    ul {
        list-style-type: none;

        li {
            display: inline-block;
            margin: 0 15px;
        }
        a {
            color: $color-text-light;
        }
    }
}

/* Splash */

.splash {
    height: 90vh;
    background-image: url('/images/background-splash.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    .splash-inner{
        position: absolute;
        top: 50%;
        left: 50%;
        height: 300px;
        width: 50%;
        transform: translate(-50%, -50%);
        color: $color-text-light;
        font-family: $font-header;

        h1 {
            font-size: 60px;
            font-weight: 900;
            word-spacing: 10px;
            margin: 30px auto;
        }

        h2 {
            font-size: 44px;
            font-style: italic;
            margin: 30px auto;
        }

        button {
            background: $color-main;
            color: $color-text-light;
            font-weight: 900;
            padding: 15px 20px;
            margin: 10px auto;
            width: 220px;
        }
    }
}

/* Services */

.services {

    .box-services {

        padding: 30px 0 50px 0;

        i {
            color: $color-main;
            font-size: 40px;
            height: 90px;
            width: 90px;
            line-height: 80px;
            border-style: solid;
            border-width: 5px;
            border-radius: 90px;
            margin-bottom: 20px;
        }

        h4 {
            font-family: $font-header;
            color: $color-text-dark;
            font-weight: 700;
            margin-bottom: 15px;
        }
    }
}

/* Portfolio */

.portfolio {
    background: $color-background-second;

    .box-portfolio {

        img {
            height: 400px;
            width: 100%;
            object-fit: cover;
        }
        
        h4 {
            font-family: $font-header;
            color: $color-text-dark;
            font-weight: 700;
            background: $color-background;
            padding: 20px 20px 0px 20px;
            margin: 0;
        }

        p {
            font-style: italic;
            background: $color-background;
            margin: 0 0 40px 0;
            padding-bottom: 20px;;
        }
    }
}